@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

.borderless-input {
  outline: none;
}

.betslip::-webkit-scrollbar,
.tablerow::-webkit-scrollbar {
  display: none;
}

